<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,
maximun-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" href="style.css">

<div>

<div>
        <p>Camel pack1</p>
        <a href="./detail1.html"><img class="imagenesAnimadas" src="./img/pack1.png" alt="pack1"></a>
        <h1>Llamados oficialmente por los especialistas tabacos “flue cured”, son colgados en grandes secaderos en los que por medio de aire caliente se obtiene el punto deseado. En general, estos tabacos presentan un buen aspecto y su color es principalmente amarillo. No tienen un aroma muy acusado y son de lenta combustión.</h1>
</div>

    <div>
        <p>Camel pack2</p>
        <a href="./detail1.html"><img class="imagenesAnimadas" src="./img/pack2.png" alt="pack2"></a>
        <h1>Son tratados encima de fuegos lentos. Lo que oficialmente se han identificado como tabacos curados al fuego. Tienen un color que varía de marrón a marrón oscuro. Muy característico es su olor a ahumado. Su combustión es lenta y tienen un sabor aromático y completo. En general, los tabacos Kentucky son algo más fuertes.</h1>
    </section>

    <div>
            <p>Camel pack3</p>
            <a href="./detail1.html"><img class="imagenesAnimadas" src="./img/pack3.png" alt="pack3"></a>
            <h1>Son los curados al aire, son expuestos para secarse durante unas semanas al aire exterior en secaderos abiertos. Son de color marrón y se consumen relativamente rápido. Se caracterizan por un aroma típico de chocolate. Muchas veces, el productor acentúa esta característica “tostando” el Burley, un proceso durante el cual se somete al tabaco a cierta temperatura elevada. Los tabacos Burley suelen ser muy sabrosos.</h1>
        </div>

    <div>
            <p>Camel pack4</p>
            <a href="./detail1.html"><img class="imagenesAnimadas" src="./img/pack4.png" alt="pack4"></a>
            <h1>También llamados tabacos curados al sol, se secan al aire libre. Tienen un carácter marcadamente exótico.Son muy aromáticos, cualidad que se observa en su sabor, dándole un sorprendente y delicioso efecto, al mezclarlo en pequeñas cantidades. En general, los tabacos orientales son de color amarillo verdoso y su combustión es de una rapidez moderada, puesto que la hoja es un tanto gruesa.</h1>
        </div>

    <div>
            <p>Camel pack5</p>
            <a href="./detail1.html"><img class="imagenesAnimadas" src="./img/pack5.png" alt="pack5"></a>
            <h1>Original de Siria, en concreto de la ciudad portuaria de Latakia.En la actualidad se produce principalmente en Chipre.Tabaco curado al sol y después ahumado con pino o roble y hierbas que impregna el sabor.Ingrediente tradicional en las mezclas inglesa</h1>
        </div>

    <div>
            <p>Camel pack6</p>
            <a href="./detail1.html"><img class="imagenesAnimadas" src="./img/pack6.png" alt="pack6"></a>
            <h1>Son tabacos que se producen en Turquia, Grecia, Bulgaria, Libano y Macedonia. Curados al sol, muy aromaticos y con poca potencia nicotinica. La planta es de hoja pequeña. Se encuentran entre ellos el Izmir, Yenidje o el Samsou</h1>
        </div>

    <div>
            <p>Camel pack7</p>
            <a href="./detail1.html"><img class="imagenesAnimadas" src="./img/pack7.png" alt="pack7"></a>
            <h1>Es el Burley curado al fuego. Con esto se consigue un tabaco mas oscuro, con un sabor mas acentuado y generalmente con mayor catga nocotinica. Logicamente tiene un toque ahumado y como el burley tiene aromas de chocolate.Debe usarse con cuidado en las mezclas ya que como el perique se impone al resto de componentes</h1>
        </div>

    <div>
            <p>Camel pack8</p>
            <a href="./detail1.html"><img class="imagenesAnimadas" src="./img/pack8.png" alt="pack8"></a>
            <h1>Es un metodo para curar el tabaco que realce el dulce natural. Se cuece al vapor y se almacena con presion para que se cure y fermente. Actualmente se agregan aromas azucarados de diferentes sabores.Cuando se produce a partir del Burley se denomina Black Cavendish.</h1>
        </div>

    <div>
            <p>Camel pack9</p>
            <a href="./detail1.html"><img class="imagenesAnimadas" src="./img/pack9.png" alt="pack9"></a>
            <h1>Tradicionalmente el salseado se hacía, como el nombre indica, rociando o bañando el tabaco en “salsas” que podían contener licores, regaliz, vainas aromáticas, especias varias o incluso pétalos de flores. Estos tabacos una vez procesados perdían su esencia de tabaco predominando en su sabor y olor el salseado al que se les había sometido.</h1>
        </div>

    <div>
            <p>Camel pack10</p>
            <a href="./detail1.html"><img class="imagenesAnimadas" src="./img/pack10.png" alt="pack10"></a>
            <h1>El tabaco de Latakia recibe su nombre de la localidad siria en la que se embarcaba hacia Europa. Consiste en un tabaco oriental llamado sek-el-bind que se seca al fuego, quedando ahumado en este proceso.</h1>
        </div>
    </div>