<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,
maximun-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" href="style.css">



<br/>
<img src="./img/pack1.png" alt="pack1">
<p>PACK DE 20 CIGARRILLOS CAMEL PACK1, 12.5 GR POR PACK</p>
<br/>
<img class="imagen1" src="./img/camel king.jpg" alt="camelking">
<br/>
<h1>Llamados oficialmente por los especialistas tabacos “flue cured”, son colgados en grandes secaderos en los que por medio de aire caliente se obtiene el punto deseado. En general, estos tabacos presentan un buen aspecto y su color es principalmente amarillo. No tienen un aroma muy acusado y son de lenta combustión.</h1>
<br/>
<form action="/action_page.php">
    <fieldset>
      <legend><p>ENVIANOS TU OPINIÓN:</p></legend>
      TU NOMBRE:<br>
      <input type="text" name="firstname" value=""><br>
      COMENTARIO:<br>
      <input type="text" name="lastname" value=""><br><br>
      <input type="submit" value="Submit">
    </fieldset>
  </form>
<br/><br/><br/>